---
import ScriptForm from '../componets/script-form';
---

<html>
  <body>
    <h1>Script</h1>
    <ScriptForm />
  </body>
  <script src='https://kwesforms.com/v2/kwes-script.js' defer></script>
</html>
